:root{
  --white:#fefae0;
  --black: #023047;
  --red:#e63946;
  --size: 3px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023047;
}

.clock{
  fill: var(--black);
  stroke: var(--white);
  stroke-width: calc(var(--size) * 4);
}

.spike{
  stroke: var(--white);
  stroke-width: calc(var(--size) * 2);
}

.hands{
  fill: var(--white);
  stroke: var(--black);
  stroke-width: calc(var(--size) * 1.4);
}